@import "../../styles/variables/colors.module";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .title {
    position: absolute;
    height: 52px;
    left: 16px;
    right: 16px;
    bottom: 166px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: $blackTitleColor;
  }
  .authorPart {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    width: 276px;
    height: 20px;
    left: 16px;
    top: 263px;
    gap: 3%;
    .name {
      bottom: 130px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: $blackTitleColor;
    }
  }
  .progressPart {
    width: 335px;
    height: 36px;
    left: 16px;
    top: 303px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 7%;
    .progressText {
      display: flex;
      justify-content: flex-start;
      gap: 1%;
      p {
        left: 16px;
        bottom: 90px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $progressTextColor;
      }
      .percent {
        color: $progressColor;
      }
    }
    .progressBar {
      width: 100%;
      height: 12px;
      left: 16px;
      right: 16px;
      bottom: 76px;
      border-radius: 100px;
      &::-webkit-progress-value {
        background-color: $progressColor;
        border-radius: 100px;
      }
      &::-webkit-progress-bar {
        background-color: $progressBarBGColor;
        border-radius: 100px;
      }
    }
  }
}
